/ears/
/**/nb-configuration.xml
/**/target/
/**/.settings
/ears
/.directory
/target/
/sacerws-ear/src/main/application/META-INF/jboss-app.xml
/sacerws-ejb/src/main/resources/META-INF/jboss.xml
/sacerws-ejb/nbproject/
/nbactions.xml
/sacerws-ejb/nbproject/project.properties
/**/.idea/
.project
/**/.classpath
/**/.project
/**/*.iml
/**/*.factorypath
.vscode/
/**/xaDiskHome
.idea/*
