<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Sacerws</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- UUID filter logging -->
    <filter>
        <filter-name>UUID Logger filter</filter-name>
        <filter-class>it.eng.spagoCore.util.UUIDLoggerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UUID Logger filter</filter-name>
        <url-pattern>/VersamentoFascicoloSync</url-pattern>
        <url-pattern>/VersamentoSync</url-pattern>
        <url-pattern>/AggiuntaAllegatiSync</url-pattern>
        <url-pattern>/VersamentoMultiMedia</url-pattern>
        <url-pattern>/AggiornamentoUnitaDocumentariaSync</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>it.eng.spagoCore.ConfigServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <!-- WS RESTful implementati tramite servlet -->
	<!-- Declared through @WebServlet -->
    <session-config>
        <session-timeout>60</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>


    <error-page>
        <error-code>500</error-code>
        <location>/genericError.jsp</location>
    </error-page>

</web-app>